@font-face {
  font-family: "KccEunyeong";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/KCC-eunyoung-Regular.woff")
    format("woff");
  font-weight: normal;
  font-display: swap;
}

body {
  max-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 70%,
    #f0e7f6 80%,
    #efdcf7 100%
  );
  min-height: 100vh;
}

/* header 탑 */
.site-header {
  padding: 20px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "KccEunyeong", sans-serif;
  color: #772f72;
  font-weight: bold;
  text-shadow: -3px 2px 4px rgba(119, 47, 114, 0.6);
}

/* header title */
.site-title {
  font-size: 60px;
}
/* header subtitle */
.site-subtitle {
  margin: -15px 0 0 280px;
  /* margin-left: 250px; */
  font-size: 50px;
}

/* main card */
.card {
  padding: 0 18px;
}

/* ------------------------------------------- */

/* profile */
.profile {
  margin-top: 20px;
  width: 100%;
  height: 430px;
  display: grid;
  grid-template-columns: 1fr 1fr 1.3fr;
  gap: 24px;
  font-family: "KccEunyeong", sans-serif;
}
/* 모바일 카드나열 */
@media (max-width: 640px) {
  .card.profile {
    grid-template-columns: 1fr;
  }
}
/* ---------------------- */

/* profile  */

/* 이미지 들어가는 내정보profile-card */
.profile-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid #f0e4f6;
  /* 내정보카드 그라데이션 부분 */
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 50%,
    #f0e4f6 80%,
    #efdcf7
  );
}

/* profile-img */
.profile-img {
  margin-bottom: 5px;
  width: 100%;
  height: 180px;
  /* object-fit: cover; */
  overflow: hidden;
}
/* 모바일 이미지 */
@media (max-width: 640px) {
  .profile-img {
    width: 140px;
    height: 140px;
  }
}

/* profile-info 설명란 */
/* .profile-contact 전체 리스트 */
/*  profile-contact-list 전체 리스트*/
/* 각 list content-item */
.profile-info,
.profile-contact,
.profile-contact-list,
.content-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/*profile-info - 이미지 바로 밑 이름이랑 정보란 사이 gap주기위함 */
.profile-info {
  gap: 18px;
}

/* profile-name 이름  */
.profile-name {
  font-size: 30px;
  font-weight: bold;
  text-shadow: -3px 2px 4px rgba(119, 47, 114, 0.6);
}

/*  profile-contact-list 전체 리스트*/
.profile-contact-list {
  margin: 0;
  padding: 0;
  list-style: none;
  gap: 22px;
}
/*content-name 글자크기*/
.content-name {
  font-size: 23px;
  font-weight: bold;
}

/* content-name a 글자 크기 */
.content-item a {
  font-size: 23px;
}

/* instargram link 밑에 생긴 a요소 밑줄제거 */
.profile-contact-list a {
  text-decoration: none;
  color: inherit;
}

/* ------------------------------------- */

/* Aspiring  */
.aspiring {
  /* margin-top: 20px; Aspiring 카드만 살짝 작게 */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid #f0e4f6;
  /* Aspiring 그라데이션 부분 */
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 50%,
    #f0e4f6 80%,
    #efdcf7
  );
  font-family: "KccEunyeong", sans-serif;
}

/* aspiring-title */
.aspiring-title {
  margin-top: 20px;
  font-size: 35px;
  font-weight: bold;
  text-shadow: -3px 2px 4px rgba(119, 47, 114, 0.6);
}

/* aspiring-title-desc 글자크기 */
.aspiring-title-desc {
  margin-top: 40px;
  font-size: 27px;
}

/* .aspiring-title-desc2 글자크기 */
.aspiring-title-desc2 {
  margin-top: 20px;
  font-size: 27px;
}

/* ------------------------------------- */

/* Career Goals */
.Goals {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid #f0e4f6;
  /* Goals 그라데이션 부분 */
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 50%,
    #f0e4f6 80%,
    #efdcf7
  );
  font-family: "KccEunyeong", sans-serif;
}

/* Goals-item 각제목 설명란 박스사이 갭주기위함 */
.Goals-item {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

/* Goals-title */
.Goals-title {
  margin-top: 20px;
  font-size: 35px;
  font-weight: bold;
  text-shadow: -3px 2px 4px rgba(119, 47, 114, 0.6);
}

/* Goals-list  */
.Goals-list {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

/* Goals-list-title 각 단계 먹펴 제목 */
.Goals-list-title {
  font-size: 27px;
}

/* Goals-list-desc 각단계 목표 설명 */
.Goals-list-desc {
  font-size: 23px;
}

/* ------------------------------ */

/* ----- ---What I Bring-------- */
.Strengths {
  margin-top: 20px;
  height: 250px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 24px;
  font-family: "KccEunyeong", sans-serif;
  border: 2px solid #f0e4f6;
  /* Strengths 그라데이션 부분 */
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 50%,
    #f0e4f6 80%,
    #efdcf7
  );
}

/* Strengths 모바일 화면 */
@media (max-width: 640px) {
  .Strengths {
    width: 100%;
    margin-left: 0;
  }
}
