@font-face {
  font-family: "Cafe24ShiningStar";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_twelve@1.1/Cafe24Shiningstar.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "Cafe24ShiningStar", system-ui, sans-serif;
  min-width: 1280px;
  width: 100%;
  margin: 0 auto;
  padding: 0;
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 70%,
    #f0e7f6 80%,
    #efdcf7 100%
  );
}
/* min-height: 100vh; */

/* body 부분 */
@media (max-width: 640px) {
  body {
    font-size: 17px;
  }
}

/* header 탑 */
.site-header {
  padding: 80px 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: "Cafe24ShiningStar", system-ui, sans-serif;
  /* font-family: "Kaushan Script", cursive; */
  color: #772f72;
  font-weight: bold;
  text-shadow: -3px 2px 4px rgba(119, 47, 114, 0.6);
}

/* header title */
.site-title {
  font-size: 220px;
}
/* header subtitle */
.site-subtitle {
  margin: -40px 0 0 740px;
  /* margin-left: 250px; */
  font-size: 170px;
}

/* main card */
.card {
  padding: 0 25px;
}

/* ------------------------------------------- */

/* profile */
.profile {
  /* margin-top: 40px; */
  width: 100%;
  height: 100%;
  /* padding: 50px 0; */
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  /* grid-auto-rows: 1fr; */
  gap: 24px;
  font-family: "Cafe24ShiningStar", system-ui, sans-serif;
}

/* ---------------------- */

/* profile  */

/* 이미지 들어가는 내정보profile-card */
.profile-card {
  padding: 20px; /* 칸보다 고양이이미지 사진이 상하좌우 20px 작게 */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid #f0e4f6;
  /* 내정보카드 그라데이션 부분 */
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 50%,
    #f0e4f6 80%,
    #efdcf7
  );
}

/* profile-img */
.profile-img {
  margin-bottom: 5px;
  width: 100%;
  height: 400px;
  /* object-fit: cover; */
  overflow: hidden;
}

/* profile-info 설명란 */
/* .profile-contact 전체 리스트 */
/*  profile-contact-list 전체 리스트*/
/* 각 list content-item */
.profile-info,
.profile-contact,
.profile-contact-list,
.content-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.profile-info {
  padding: 50px;
}
/*profile-info - 이미지 바로 밑 이름이랑 정보란 사이 gap주기위함 */
/* .profile-info {
  gap: 60px;
} */

/* profile-name 이름  */
.profile-name {
  margin-bottom: 50px;
  font-size: 70px;
  text-shadow: -3px 2px 4px rgba(119, 47, 114, 0.6);
}

/*  profile-contact-list 전체 리스트*/
.profile-contact-list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 24px;
}
/*content-name 글자크기*/
.content-name {
  font-size: 40px;
  font-weight: bold;
}

/* .content-item span a 사이 여백 */
.content-item {
  display: flex;
  flex-direction: column;
}
.content-item a {
  font-size: 40px;
  line-height: 1;
}

/* instargram link 밑에 생긴 a요소 밑줄제거 */
.profile-contact-list a {
  text-decoration: none;
  color: inherit;
}

/* ------------------------------------- */

/* Aspiring  */
.aspiring {
  /* margin-top: 20px; Aspiring 카드만 살짝 작게 */
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid #f0e4f6;
  /* Aspiring 그라데이션 부분 */
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 50%,
    #f0e4f6 80%,
    #efdcf7
  );
  /* font-family: "Kaushan Script", cursive; */
}

/* aspiring-title */
.aspiring-title {
  padding: 130px 0 70px 0;
  font-size: 90px;
  text-shadow: -3px 2px 4px rgba(119, 47, 114, 0.6);
}

.aspiring-highlight {
  padding: 0 24px;
  display: flex;
  flex-direction: column;
  gap: 130px;
  line-height: 1.3;
}
/* aspiring-title-desc 글자크기 */
.aspiring-title-desc {
  /* padding: 0 24px; */
  word-break: keep-all;
  font-size: 40px;
}

/* .aspiring-title-desc2 글자크기 */
.aspiring-title-desc2 {
  word-break: normal;
  overflow-wrap: break-word;
  font-size: 45px;
}

/* ------------------------------------------------------ */

/* Career Goals */
.goals {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  border: 2px solid #f0e4f6;

  /* Goals 그라데이션 부분 */
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 50%,
    #f0e4f6 80%,
    #efdcf7
  );
}

/* Goals-item 각제목 설명란 박스사이 갭주기위함 */
.goals-item {
  padding-bottom: 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

/* Goals-title */
.goals-title {
  padding: 40px 0 70px 0;
  font-size: 100px;
  text-shadow: -3px 2px 4px rgba(119, 47, 114, 0.6);
}

/* Goals-list  */
.goals-list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 22px;
}

/* Goals-list-title 각 단계 목표 제목 */
.goals-list-title {
  font-size: 60px;
}

/* Goals-list-desc 각단계 목표 설명 */
.goals-list-desc {
  /* padding-bottom: 90px; */
  font-size: 40px;
  line-height: 1.1;
  word-break: keep-all;
}

/* --------------------------------------------------- */

/* ----- ---What I Bring-------- */
.strengths {
  margin-top: 24px; /* 칸사이 여백을 다. 24주기위함 */
  padding: 20px;
  height: 420px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
  font-family: "Cafe24ShiningStar", system-ui, sans-serif;
  word-break: keep-all;
  border: 2px solid #f0e4f6;
  /* Strengths 그라데이션 부분 */
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 50%,
    #f0e4f6 80%,
    #efdcf7
  );
}

/* Strengths-title 폰트크기 */
.strengths-title {
  padding: 20px;
  font-size: 90px;
  text-shadow: -3px 2px 4px rgba(119, 47, 114, 0.6);
}

/* Strengths-desc 폰트 크기 */
.strengths-desc {
  /* margin-top: 40px; */
  text-align: center;
  font-size: 40px;
  line-height: 1.1;
}

/* ------------------------------------------------------ */
/* Strengths 모바일 화면 */
/* @media (max-width: 640px) {
  .strengths {
    width: 100%;
    margin-top: 20px;
  }
} */
/* ---------------------------------------------------- */

/*Training Profram */
.training-tech {
  margin-top: 24px;
  width: 100%;
  height: 620px;
  display: grid;
  grid-template-columns: 1fr 1.3fr;
  gap: 20px;
  font-family: "Cafe24ShiningStar", system-ui, sans-serif;
}

/* training-tech */
.training {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 30px;
  border: 2px solid #f0e4f6;

  /* training-tech 그라데이션 부분 */
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 50%,
    #f0e4f6 80%,
    #efdcf7
  );
}

/* training-title 폰트크기 */
.training-title {
  padding: 110px 0 30px 0;
  font-size: 90px;
  text-shadow: -3px 2px 4px rgba(119, 47, 114, 0.6);
}

/* bootcamp 오르미과정과 리스트 사이 여백 */
.bootcamp {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

/* bootcamp header 이스트캠프 사이 여백 .bootcamp-header */
.bootcamp-header {
  display: flex;
  flex-direction: column;
  gap: 22px;
}

/* bootcamp-subtitle 부트캠프 부제목 폰트크기 */
.bootcamp-subtitle {
  display: inline-block;
  font-size: 60px;
  font-family: "Cafe24ShiningStar", system-ui, sans-serif;
  filter: drop-shadow(0 1px 4px rgba(63, 221, 121, 0.5))
    drop-shadow(0 4px 10px rgba(63, 221, 121, 0.32));
}

/* bootcamp-name 외 list-item bootcamp기간 폰트크기 */
.bootcamp-name,
.bootcamp-list-item,
.bootcamp-period {
  font-size: 40px;
}

.bootcamp-skil-list {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

/* bootcamp-list-item 배우는 항목 폰트강조 */
.bootcamp-list-item {
  font-weight: bold;
}

/* bootcamp-period 기간 가로 정렬 */
.bootcamp-period {
  display: flex;
  justify-content: center;
  /* align-items: center; */
  gap: 10px;
}

/* ------------------------------------------------------- */

/* texhstack 기술 비교 */
.texhstack {
  height: 800px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 22px;
  text-align: center;
  font-family: "Cafe24ShiningStar", system-ui, sans-serif;
  border: 2px solid #f0e4f6;
  /* texhstack 그라데이션 부분 */
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 50%,
    #f0e4f6 80%,
    #efdcf7
  );
}

/* texhstack-title 기술 제목  */
.texhstack-title {
  padding-top: 50px;
  font-size: 90px;
  font-family: "Cafe24ShiningStar", system-ui, sans-serif;
  text-shadow: -3px 2px 4px rgba(119, 47, 114, 0.6);
}

/* texhstack-comparison-lists icon 전체 */
.texhstack-comparison-lists {
  display: flex;
  flex-direction: column;
  gap: 25px;
}

/* texhstack-comparison-item 각 아이콘 2개씩 묶어서 총 3개 */
.texhstack-comparison-item {
  display: flex;
  justify-content: space-between;
  width: 550px;
}

/* comparison-item 아이콘 + 글씨 너비 같게 */
.comparison-item {
  width: 78px;
  height: 93px;
}

/* comparison-item-title  icon-name 폰트 크기 */
.comparison-item-title {
  font-size: 30px;
  font-family: "Cafe24ShiningStar", system-ui, sans-serif;
}

/* ---- texhstack-icon 할수있는 기술 ---------- */

/* 아이콘 칸 */
.texhstack-icon-lists {
  display: grid;
  grid-template-rows: repeat(2, auto);
  grid-auto-flow: column;
  column-gap: 100px;
  row-gap: 30px;
  justify-content: center;
}

/* texhstack-icon-item 아이콘 정렬 */
.texhstack-icon-item {
  display: flex;
  justify-content: center;
}

/* 아래 notion codepan 아이템만 오른쪽으로 ------------
이동시켜 위에 아이템 사이에 들어가기 위해 */
.texhstack-icon-item:nth-child(even) {
  transform: translateX(80px);
}

/* texhstack-item 아이콘 텍스트 사이 여백및 정렬 */
.texhstack-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

/* 아이콘 이미지 사이즈 통일 */
.texhstack-item img {
  width: 50px;
  height: 50px;
  object-fit: contain;
}

/* 아이콘 네임 폰트 */
.texhstack-item-title {
  font-size: 40px;
  text-align: center;
}

/* ---------------------------------------------------------- */

/* ------  Portfolio ---------------------- */
/* portfolio 테두리 및 영역 */
.portfolio {
  margin-top: 200px; /* padding-top: 20px; */
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column; /* gap: 40px; */
  font-family: "Cafe24ShiningStar", system-ui, sans-serif;
  border: 2px solid #f0e4f6; /* portfolio 그라데이션 부분 */
  background: linear-gradient(
    to bottom,
    #ffffff 0%,
    #ffffff 50%,
    #f0e4f6 80%,
    #efdcf7
  );
}

/* portfolio-title 제목 폰트 크기 */
.portfolio-title {
  display: flex;
  font-size: 90px;
  text-shadow: -3px 2px 4px rgba(119, 47, 114, 0.6);
  text-align: center;
}

/* portfolio-lists ssg kakao 정렬 */
.portfolio-lists {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 25px;
}

/* --------- 이미지 크기 ---------- */ /* svg ing 크기 */
.portfolio-item img {
  width: 850px;
  height: 350px;
}

/* kakao img 크기 */
.portfolio-kakao-item img {
  width: 500px;
  height: 350px;
}

/* 각 항목 제목 */
.portfolio-item-title {
  font-size: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
}

/* portfolio-item-desc 항목 설명란 폰트크기 */
.portfolio-item-desc {
  font-size: 40px;
  display: flex;
}
